@using System.Web.Helpers
@{
    Layout = "layout.cshtml";
    ViewBag.Title = "Test";
    var grid = new WebGrid(Model.data);
}

@section JavaScript
{
<script src='https://www.google.com/recaptcha/api.js'></script>
}

<div>Content: @Model.bar</div>